.Mortgage {
    width: 90%;
    margin:auto;
    padding-top: 10px;
}

.Mortgage-main {
    border: solid white 1px;
}

.Mortgage-form {
    padding: 10px;
}

.Mortgage-form-right {
    font-size: smaller;
}

.Mortgage-results {
    background-color: rgb(51, 123, 51);
    padding-right: 10px;
    box-shadow: 25px 25px 50px 0 #21242b inset, -25px -25px 50px 0 #21242b inset;
}