.PlainCalc {
    margin-bottom: 20px;
}

.PlainCalc-calculator {
    border: solid white 2px;
    padding: 10px 10px 20px 20px;
    border-radius: 8px;
    box-shadow: 5px 8px 18px #7091e3;
}

.PlainCalc-display {
    border: solid white 1px;
    margin-bottom: 10px;
    /* font-size: 2rem; */
    padding: 5px;
    text-align: right;
}

/* .PlainCalc-keypad {
    align-self: center;
} */

.PlainCalc-number {
    border: solid white 2px;
    font-size: 1.5rem;
    min-width: 49px;
}

.PlainCalc-backspace {
    border: solid white 2px;
    font-size: 1.5rem;
    min-width: 49px;
    padding-left: 10px;
    padding-right: 7px;
}

.PlainCalc-operator {
    border: solid white 1px;
    /* margin-bottom: 10px; */
    font-size: 1.25rem;
    min-width: 49px;
    font-weight: bolder;
}

.PlainCalc-equals {
    border: solid white 1px;
    /* margin-bottom: 10px; */
    font-size: 1.5rem;
    min-width: 100px;
}

.PlainCalc-memory {
    border: solid white 1px;
    /* margin-bottom: 10px; */
    width: 54px;
    font-size: smaller;
}

.PlainCalc-clear {
    border: solid white 1px;
    font-size: smaller;
}